<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clima educa</title>
        <link rel="stylesheet" href="inicio.css">
    </head>
    <body>

    <header>
        <div class="logo-container">
        <div class="logo">Q</div>
        <span class="brand-name">Clima educa</span>
        </div>

        <nav>
            <a href="quizzes.html" class="enlaces">Quizzes</a>
            <a href="login.html" class="enlaces">Login</a>
            <a href="signup.html" class="enlaces">Sign up</a>
        </nav>
    </header>

    <main style="padding: 2rem; text-align: center;">
        <h1>Bienvenido a Clima educa</h1>
        <p>Tu plataforma para crear y resolver quizzes interactivos.</p>
    </main>
    <section class="ranking">
        <h2>Ranking</h2>
    </section>
    <section class="info">
        <h2>¿Que somos?</h2>
    </section>

    </body>
</html>
